*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background: #070731;
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 30px;
    background: rgba(0,0,0,0.15);
    border-bottom: 1px solid white;
}

header div{
    text-align: center;
}

header div a{
    margin: 0 30px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

header div a:hover{
    color: #50fa7b;
    cursor: pointer;
    transition: color 650ms;
}
