:root{
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #282a36;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
}

header{
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0,0,0,0.1);
}

.links{
    text-align: center;
}

.links a{
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links a:hover{
    color: var(--color-green);
    cursor: pointer;
    transition: color 500ms;
}

.profile{
    padding: 32px;
    text-align: center;
}

.profile img{
    border-radius: 50%;
    border: 3px solid var(--color-green);    
    margin-bottom: 32px;
    height: 300px;
}

.profile h1{
    font-size: 42px;
    line-height: 52px;
}

.profile h3{
    font-size: 24px;
    font-weight: 34px;
    margin-top: 8px;
    opacity: 0.8;
}

.profile p{
    max-width: 500px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 30px;
    margin-top: 32px;
    margin-bottom: 60px;

}

#linksFooter a{
    border-bottom: 1px solid var(--color-green);
}

/*CARDS*/

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.card{
    background-color: var(--color-rocket);
    cursor: pointer;
}

.card_image-container img{
    width: 100%;
}

.card_content,
.card_info{
    padding: 24px;
}

.card_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card_price{
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*MODAL*/

.modal-overlay{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: #fff;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    border-radius: 5px;
    position: relative;
}

.modal .close-modal{
    color: black;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

/*MODAL ACTIVE*/

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

iframe{
    position: absolute;
    width: 100%;
    height: 95%;
    bottom: 0;
}